<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:/temp/default.txt">

	<!-- the targets to write to -->
	<targets>
	    <target 
			name="sheduler" 
			xsi:type="File"
            layout="${date:format=HH\:mm\:ss dd-MM-yyyy}|${level:uppercase=true}|${event-properties:item=name}|${event-properties:item=time}|${message}|${event-properties:item=thread}"
            fileName="c:/temp/CoreApi_${date:format=dd-MM-yyyy}.txt" 
            keepFileOpen="true"
            encoding="utf-8" 
			ForceManaged="True"
	/>
	</targets>

	<rules>
		<logger name="CoreApi.Tasks.*" minlevel="Trace" writeTo="sheduler" />
	</rules>
</nlog>